*{
    box-sizing: border-box;
}
.container{
    width: 600px;
    margin: 0 auto;
}
body{
    background-color:khaki;
    font-family: 'Roboto', sans-serif;
}
.accordion{

}
.accordion-item{
    position: relative;
    margin-bottom: 20px;
    background-color:antiquewhite;
}
.accordion-img{
    width: 300px;
}
.accordion-item_input{
    position: absolute;
    opacity: 0;
}
.accordion-item_trigger{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid black;
}
.accordion-item_trigger:hover{
    cursor: pointer;
}
.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(img/plus.svg);
    margin-left: 450px;
    transition: all 0.5s;
}
.accordion-item_content{
    display: none;
    padding: 20px;
    border: 1px solid black;
    border-top:none;
    text-align: center;
}
.accordion-item_input:checked~.accordion-item_trigger{
    background-color: #eee;
}
.accordion-item_input:hover~.accordion-item_content{
    display: block;
}
.accordion-item_input:checked~.accordion-item_content{
    display: block;
    background-color: #eee;
}
.accordion-item_input:checked~label .icon{
    transform: rotate(500deg);
}
.accordion-item_input:hover~label .icon{
    transform: rotate(500deg);
}

